{% extends 'base_back.html.twig' %}

{% block title %}Modifier utilisateur {{ user.pseudo }}{% endblock %}

{% block body %}
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-4">
                    <h1>Modifier utilisateur {{ user.pseudo }}</h1>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">

            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Modifier utilisateur {{ user.pseudo }}</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                            <i class="fas fa-minus"></i></button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                            <i class="fas fa-times"></i></button>
                    </div>
                </div>
                <div class="card-body p-0">
                    <div class="col-md-6">
                        {{ include('back/user/_form.html.twig', {'button_label': 'Modifier'}) }}
                    </div>
                </div>
                <!-- /.card-body -->
                <div class="col-md-4 row justify-content-between mt-5">
                    <a href="{{ path('user_index') }}" class="btn btn-secondary">Retour</a>
                    {{ include('back/user/_delete_form.html.twig') }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
