{% for comment in comments %}
    <div class="post-comment">
        <!-- USER AVATAR -->
        <a class="user-avatar small no-outline" href="{{ path('front_profil_user', {'pseudo': comment.user.pseudo}) }}">
            <!-- USER AVATAR CONTENT -->
            <div class="user-avatar-content">
                <!-- HEXAGON -->
                <div class="hexagon-image-30-32" data-src="{{ asset( constant('App\\Services\\File\\UploadFile::AVATAR_UPLOAD_DIR')) ~ comment.user.avatar }}"></div>
                <!-- /HEXAGON -->
            </div>
            <!-- /USER AVATAR CONTENT -->

            <!-- USER AVATAR PROGRESS -->
            <div class="user-avatar-progress">
                <!-- HEXAGON -->
                <div class="hexagon-progress-40-44"></div>
                <!-- /HEXAGON -->
            </div>
            <!-- /USER AVATAR PROGRESS -->

            <!-- USER AVATAR PROGRESS BORDER -->
            <div class="user-avatar-progress-border">
                <!-- HEXAGON -->
                <div class="hexagon-border-40-44"></div>
                <!-- /HEXAGON -->
            </div>
            <!-- /USER AVATAR PROGRESS BORDER -->

            <!-- USER AVATAR BADGE -->
            <div class="user-avatar-badge">
                <!-- USER AVATAR BADGE BORDER -->
                <div class="user-avatar-badge-border">
                    <!-- HEXAGON -->
                    <div class="hexagon-22-24"></div>
                    <!-- /HEXAGON -->
                </div>
                <!-- /USER AVATAR BADGE BORDER -->

                <!-- USER AVATAR BADGE CONTENT -->
                <div class="user-avatar-badge-content">
                    <!-- HEXAGON -->
                    <div class="hexagon-dark-16-18"></div>
                    <!-- /HEXAGON -->
                </div>
                <!-- /USER AVATAR BADGE CONTENT -->

                <!-- USER AVATAR BADGE TEXT -->
                <p class="user-avatar-badge-text">6</p>
                <!-- /USER AVATAR BADGE TEXT -->
            </div>
            <!-- /USER AVATAR BADGE -->
        </a>
        <!-- /USER AVATAR -->
        <p class="post-comment-text"><a class="post-comment-text-author" href="{{ path('front_profil_user', {'pseudo': comment.user.pseudo}) }}">{{ comment.user.pseudo }}</a>{{ comment.text }}</p>

        <div class="content-actions">
            <!-- CONTENT ACTION -->
            <div class="content-action">

                <!-- META LINE -->
                <div class="meta-line">
                    <!-- META LINE TIMESTAMP -->
                    <p class="meta-line-timestamp">le {{ comment.publishedAt|date('d/m/Y à H:i') }}</p>
                    <!-- /META LINE TIMESTAMP -->
                </div>
                <!-- /META LINE -->
            </div>
            <!-- /CONTENT ACTION -->
        </div>
    </div>
{% endfor %}
